// banner style 
.section-banner{
    min-height: 350px; 
    a{
        font-size: $ssbl-fs-14;
        color: #49ADA1;
        line-height: 50px;
        &:hover{
            color: #136A82;
            font-weight: 700;
            transform: scale(1.05);
            transition: all 0.2s ease;
        }
    }
    
    .card{
        border-radius: 5px;
        border: 1px solid #49ADA1;
        transition: all 0.2s ease;
        &:hover{
            border: 1px solid #136A82;
            transition: all 0.2s ease;
        }
    }
}