// banner style 
.section-banner{
    min-height: 21.875rem; 
    a{
        font-size: 0.875rem;
        color: #49ADA1;
        line-height: 3.125rem;
        &:hover{
            color: #136A82;
            font-weight: 700;
            transform: scale(1.05);
            transition: all 0.2s ease;
        }
    }
    
    .card{
        border-radius: 0.313rem;
        border: 0.063rem solid #49ADA1;
        transition: all 0.2s ease;
        &:hover{
            border: 0.063rem solid #136A82;
            transition: all 0.2s ease;
        }
    }
}