.section-footer{
    background-color: #136A82 !important;
    // opacity:0.7;
    border-top:1px solid #E7EAED !important;
    h5{
        color: #ecebeb;
        font-size: $ssbl-fs-18;
        font-weight: 700;
    }
    ul{
        margin: 0px;
        padding: 0px;
        list-style: none;
        text-align: center;
        li{
            list-style: none;
            // display: inline-block;
            a{
                color: #d6d4d4;
                font-size: $ssbl-fs-14;
                margin-right: 15px;
                &:hover{
                    color: #fff;
                    opacity: 0.8;
                }
            }
        }
    }
}
a{
    font-size: $ssbl-fs-14;
    color : #d6d4d4;
    &:hover{
        color: #fff;
        opacity: 0.8;
        text-decoration: none;
    }
}
.section-copyright{
    background-color: #136A82 !important;
    border-top: 1px solid #E7EAED !important;
    p{
        color: #fff;
        margin-bottom: 0px;
        font-size: $ssbl-fs-14;
        a{
            color: #fff;
            &:hover{
                color: #49ADA1;
            }
        }
    }
}