$bootstrap-sass-asset-helper: false !default;
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=greek");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("../../css/clanot-narrowbook-cufonfonts-webfont/style.css");
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
//
// Variables
// --------------------------------------------------
//section 

// font-family
$Exo: 'Exo', sans-serif;
$Monts: 'Montserrat', sans-serif;
$Poppins: 'Poppins', sans-serif;

// font-size
$sbp25-fs-32: 2rem; //32px;
$sbp25-fs-25: 1.563rem; //25px;
$sbp25-fs-18: 1.125rem; //18px;
$sbp25-fs-16: 1rem; //16px;
$sbp25-fs-14: 0.875rem; //14px;