$bootstrap-sass-asset-helper: false !default;
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=greek");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("../../css/clanot-narrowbook-cufonfonts-webfont/style.css");
@import url('https://fonts.googleapis.com/css2?family=Capriola&display=swap');
//
// Variables
// --------------------------------------------------
//section title
//== Typography

// font-family
$Exo: 'Exo', sans-serif;
$Monts: 'Montserrat', sans-serif;
$Poppins: 'Poppins', sans-serif;
// font-size
$fs-small-x: 15px !default;
$fs-base:   16px !default;
//  transition


$ssbl-bg-primary: #1D64A3;
$ssbl-bg-secondary: #86AE33;
$ssbl-bg: #FDFFF9;
$ssbl-bg-white: #FFF;
$ssbl-bg-section: #31795A;

$ssbl-fc-green: #1A6A48;
$ssbl-fc-lightgreen: #86AE33;
$ssbl-fc-offwhite: #ECECEC;
$ssbl-fc-white: #fff;
$ssbl-fc-gray: #696A6C;

$ssbl-fs-13: 0.813rem; 
$ssbl-fs-14: 0.875rem; 
$ssbl-fs-18: 1.125rem; 
$ssbl-fs-25: 1.563rem; 
$ssbl-fs-29: 1.875rem; 
$ssbl-fs-30: 1.875rem; 
$ssbl-fs-32: 2rem; 
$ssbl-fs-35: 2.188rem; 
$ssbl-fs-40: 2.5rem; 

$ssbl-home-slider-headline-color:rgba(26, 106, 72, 0.8);

//----------------------Background Color------------------------//
$gmpf-bg-primary: #1D64A3;
$gmpf-bg-secondary: #F7BB4D;
$gmpf-bg-white: #FFFFFF;

//----------------------Font Color------------------------//
$gmpf-fc-primary: #1D64A3;
$gmpf-fc-secondary: #F7BB4D;
$gmpf-fc-white: #FFFFFF;
$gmpf-fc-lights: #F6F9FF;
$gmpf-fc-gray: #34363F;

//----------------------Font Size------------------------//
$gmpf-fs-13: 0.813rem; //13px
$gmpf-fs-14: 0.875rem; //14px
$gmpf-fs-16: 1rem; //16px
$gmpf-fs-20: 1.25rem; //20px
$gmpf-fs-30: 1.875rem; //30px
$gmpf-fs-16: 1rem; //16px
$gmpf-fs-21: 1.313rem; //21px
$gmpf-fs-60: 3.75rem; //60px